@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="footer" id="F">
    <div class="container">
        <div class="row">
            <div class="colum-1">
                <p class="footer__name">Book .Net store.by</p>
            </div>
            <div class="colum-1">
                <p class="footer_social-icons">
                    </a>
                    <a href="https://www.youtube.com/channel/UChNm6-R69Yn9BtcFbtJIX0A" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
            </div>
            <div class="colum-1">
                <div>
                    <a href="https://ttttt.me/mr_varlamov" class="button " target="_blank">Связаться Telegram</a>
                </div>
                <p>Если есть вопросы пишите сюда</p>
            </div>
        </div>
    </div>
</div>